<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>QX-System</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RoleListServlet</display-name>
    <servlet-name>RoleListServlet</servlet-name>
    <servlet-class>web.role.RoleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleListServlet</servlet-name>
    <url-pattern>/rolelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleSaveServlet</display-name>
    <servlet-name>RoleSaveServlet</servlet-name>
    <servlet-class>web.role.RoleSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleSaveServlet</servlet-name>
    <url-pattern>/saveRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleFindByRoleId</display-name>
    <servlet-name>RoleFindByRoleId</servlet-name>
    <servlet-class>web.role.RoleFindByRoleId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleFindByRoleId</servlet-name>
    <url-pattern>/getRoleById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleDeleteByRoleId</display-name>
    <servlet-name>RoleDeleteByRoleId</servlet-name>
    <servlet-class>web.role.RoleDeleteByRoleId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleDeleteByRoleId</servlet-name>
    <url-pattern>/deleteRoleById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleUpdateByRoleId</display-name>
    <servlet-name>RoleUpdateByRoleId</servlet-name>
    <servlet-class>web.role.RoleUpdateByRoleId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleUpdateByRoleId</servlet-name>
    <url-pattern>/updateRoleById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionListServlet</display-name>
    <servlet-name>PermissionListServlet</servlet-name>
    <servlet-class>web.permission.PermissionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionListServlet</servlet-name>
    <url-pattern>/listPersmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersmissionUpdate</display-name>
    <servlet-name>PersmissionUpdate</servlet-name>
    <servlet-class>web.permission.PermissionUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersmissionUpdate</servlet-name>
    <url-pattern>/updatePermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionDelete</display-name>
    <servlet-name>PermissionDelete</servlet-name>
    <servlet-class>web.permission.PermissionDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionDelete</servlet-name>
    <url-pattern>/deletePermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionSaveServlet</display-name>
    <servlet-name>PermissionSaveServlet</servlet-name>
    <servlet-class>web.permission.PermissionSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionSaveServlet</servlet-name>
    <url-pattern>/savePermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionFindByidServlet</display-name>
    <servlet-name>PermissionFindByidServlet</servlet-name>
    <servlet-class>web.permission.PermissionFindByidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionFindByidServlet</servlet-name>
    <url-pattern>/findpermissionById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPermissionByRoleId</display-name>
    <servlet-name>GetPermissionByRoleId</servlet-name>
    <servlet-class>web.permission.GetPermissionByRoleId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPermissionByRoleId</servlet-name>
    <url-pattern>/getPermissionByRoleId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePermissionByRoleId</display-name>
    <servlet-name>UpdatePermissionByRoleId</servlet-name>
    <servlet-class>web.role.UpdatePermissionByRoleId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePermissionByRoleId</servlet-name>
    <url-pattern>/updatePermissionByRoleId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>web.user.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/userList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteByIdServlet</display-name>
    <servlet-name>UserDeleteByIdServlet</servlet-name>
    <servlet-class>web.user.UserDeleteByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteByIdServlet</servlet-name>
    <url-pattern>/userDeleteById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>web.user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindRolesByUserIdServlet</display-name>
    <servlet-name>FindRolesByUserIdServlet</servlet-name>
    <servlet-class>web.user.FindRolesByUserIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindRolesByUserIdServlet</servlet-name>
    <url-pattern>/findRolesByUserId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserRoleByUserIdServlet</display-name>
    <servlet-name>UpdateUserRoleByUserIdServlet</servlet-name>
    <servlet-class>web.user.UpdateUserRoleByUserIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserRoleByUserIdServlet</servlet-name>
    <url-pattern>/updateUserRoles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRoles</display-name>
    <servlet-name>GetRoles</servlet-name>
    <servlet-class>web.user.GetRoles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoles</servlet-name>
    <url-pattern>/getRoles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllForSelect</display-name>
    <servlet-name>FindAllForSelect</servlet-name>
    <servlet-class>web.permission.FindAllForSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllForSelect</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthImage</display-name>
    <servlet-name>AuthImage</servlet-name>
    <servlet-class>login.AuthImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthImage</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>